<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>MarkedList</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 24px;
    }
    input {
      width: 600px;
      font-size: 24px;
      line-height: 32px;
      padding: 8px;
    }
    ul {
      padding: 0;
      list-style: none;
    }
    .marked {
      color: #efc14e;
    }
  </style>
</head>
<body>

<div id="app">
  <input type="text" v-model="filter" />
  <ul>
    <li :class="{marked: item.marked}" v-for="item in filteredEmails">{{item.email}}</li>
  </ul>
</div>

<script type="module" src="script.js"></script>
</body>
</html>
